{% extends 'voter_analytics/base.html' %}

{% block title %}Voter Details: {{ voter.first_name }} {{ voter.last_name }}{% endblock %}

{% block content %}
    <h2>Voter Details</h2>
    
    <div class="card mb-4">
        <div class="card-header">
            <h3>{{ voter.first_name }} {{ voter.last_name }}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4>Personal Information</h4>
                    <table class="table">
                        <tr>
                            <th>Voter ID:</th>
                            <td>{{ voter.voter_id }}</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>
                                {{ voter.street_number }} {{ voter.street_name }}
                                {% if voter.apartment_number %}, Apt {{ voter.apartment_number }}{% endif %}
                                <br>Newton, MA {{ voter.zip_code }}
                            </td>
                        </tr>
                        <tr>
                            <th>Date of Birth:</th>
                            <td>{{ voter.date_of_birth|date:"F d, Y" }}</td>
                        </tr>
                        <tr>
                            <th>Registration Date:</th>
                            <td>{{ voter.registration_date|date:"F d, Y" }}</td>
                        </tr>
                        <tr>
                            <th>Party Affiliation:</th>
                            <td>{{ voter.party_affiliation }}</td>
                        </tr>
                        <tr>
                            <th>Precinct Number:</th>
                            <td>{{ voter.precinct_number }}</td>
                        </tr>
                        <tr>
                            <th>Voter Score:</th>
                            <td>{{ voter.voter_score }}</td>
                        </tr>
                    </table>
                </div>
                
                <div class="col-md-6">
                    <h4>Voting History</h4>
                    <table class="table">
                        <tr>
                            <th>2020 State Election:</th>
                            <td>{% if voter.v20state %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>2021 Town Election:</th>
                            <td>{% if voter.v21town %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>2021 Primary Election:</th>
                            <td>{% if voter.v21primary %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>2022 General Election:</th>
                            <td>{%
