{% extends "project/base.html" %}

{% block title %}Confirm Delete{% endblock %}
{% block header %}Delete Location{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete the location: <strong>"{{ object.name }}"</strong>?</p>
        <p><small>Note: This may fail if Journal Entries still reference this location.</small></p>
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a href="{% url 'project:location-detail' pk=object.pk %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
