{% extends "project/base.html" %}

{% block title %}Locations{% endblock %}
{% block header %}All Locations{% endblock %}

{% block content %}
    {% if location_list %}
        <ul>
        {% for loc in location_list %}
            <li>
                <a href="{% url 'project:location-detail' pk=loc.pk %}">{{ loc.name }}</a>
                ({{ loc.city }}, {{ loc.country }})
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No locations found. <a href="{% url 'project:location-create' %}">Add one?</a></p>
    {% endif %}
{% endblock %}
