{% extends 'mini_fb/base.html' %}

{% block content %}


<!DOCTYPE html>
<html>
<head>
    <title>Post Status Message</title>
</head>
<body>
    <h1>Post a Status Message for {{ view.kwargs.pk|add:"" }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Status</button>
    </form>

    <!-- Cancel button redirects back to the associated profile's detail page -->
    <a href="{% url 'profile_detail' pk=view.kwargs.pk %}">Cancel</a>
</body>
</html>

{% endblock %}
