{% extends 'mini_fb/base.html' %}

{% block content %}
<h1>People {{ profile.first_name }} {{ profile.last_name }} may know:</h1>

<div class="friend-suggestions">
    {% for suggestion in suggestions %}
        <div class="suggestion">
            <p>{{ suggestion.first_name }} {{ suggestion.last_name }}</p>
            <a href="{% url 'add_friend' profile_pk=profile.id friend_pk=suggestion.id %}">Add Friend</a>
        </div>
    {% empty %}
        <p>No friend suggestions available.</p>
    {% endfor %}
</div>

<a href="{% url 'profile_detail' pk=profile.id %}">Back to Profile</a>
{% endblock %}
